openapi: '3.0.0'
info:
  version: 1.0.0
  title: Enneasolutions Documentation
  license:
    name: MIT
servers:
  - url: http://petstore.swagger.io/v1
paths:
  /shipments:
    get:
      summary: List all shipments
      operationId: listShipments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of shipments
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create shipment
      operationId: createShipment
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /shipments/{shipmentId}:
    get:
      summary: Get shipment info
      operationId: showShipmentById
      parameters:
        - name: shipmentId
          in: path
          required: true
          description: The id of the shipment to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shipments'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /orders:
    get:
      summary: List all orders
      operationId: listOrders
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of orders
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Orders'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Shipment:
      required:
        - id
        - destination
      properties:
        id:
          type: integer
          format: int64
        destination:
          type: string
        status:
          type: string
    Shipments:
      type: array
      items:
        $ref: '#/components/schemas/Shipment'
    Order:
      required:
        - id
        - product
      properties:
        id:
          type: integer
          format: int64
        product:
          type: string
        quantity:
          type: integer
    Orders:
      type: array
      items:
        $ref: '#/components/schemas/Order'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string